.cabecalho__icon{
    background-image: url('/assets/img/vector.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 2rem;
    height: 2rem;
}