.cabecalho__list__item{
    display: none;
    font-weight: 500;
    font-size: 1.6rem;
}

.cabecalho__list__item:last-child{
    display: inline-block;
    text-align: center;
}

@media screen and (min-width: 0) {

    .cabecalho__list__item:last-child{
        font-size: 1.4rem;
        font-weight: 400;
    }

}

@media screen and (min-width: 768px) {

    .cabecalho__list__item:nth-child(1),
    .cabecalho__list__item:nth-child(2),
    .cabecalho__list__item:nth-child(5){
        display: inline-block;
        margin-left: .1rem;
        margin-right: 1rem;
    }

    .cabecalho__list__item:last-child{       
        font-weight: 700;
    }

}

@media screen and (min-width: 1440px) {

    .cabecalho__list__item{
        display: inline-block;
        margin-right: 1rem;
        margin-left: .1rem;
    }

}