.cabecalho{
    align-items: center;
    background-color: var(--branco);
    border-bottom: 1px solid var(--borda-cabecalho-mobile);
    box-sizing: border-box;
    display: flex;
    font-size: 1.6rem;
    justify-content: space-between;
    padding-top: 1.75rem;
    padding-bottom: 1.75rem;
    width: 100%;
}